
<div class="text-center" style="padding:10%; padding-bottom:5%">
  <div class="card card-inverse" style="background-color: #333; border-color: #333;">
  <div class="card-block p-3">
    <h3 class="card-title">Because We Care About Your Products!!</h3>
    <p class="card-text">Try it out. Start by telling us what you would like to shift?</p>
    <div class="row">
      <div class="col-md-4"></div>
      <button md-button (click)="shiftHome()" class="ang-btn">Shift Home</button>
      <!-- <a class="btn btn-primary col-md-2" (click)="shiftHome()">Shift Home</a> -->
      <p class="card-text col-md-1 m-2">OR</p>
      <!-- <a  (click)="shiftVehicle()" class="btn btn-primary col-md-2">Shift Vehicle</a> -->
      <button md-button (click)="shiftVehicle()" class="ang-btn" >Shift Vehicle</button>
    </div>
  </div>
</div>
</div>
