
<nav class="navbar navbar-toggleable-md navbar-light navbar-inverse bg-primary tc-white">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" >TRANSISTIC</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink=''>Home<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="../signin">SignIn</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
<div class="p-5"></div>
<div class="p-3"></div>
<footer>
  <div class="cointainer" style="background-color:black">
    <div  style="padding:0%">
      <div class="p-3 text-center" style="color:white">
        <h3>@TRANSISTIC</h3>
      </div>
    </div>
  </div>
</footer>